.b-main-menu_slider {
  
}

.b-slider_big {
  float: right;
  width: 780px;
  height: 391px;
  position: relative;
}
.b-slider_big .bx-prev {
  width: 41px;
  height: 93px;
  background: url(../images/bslider-control_left.png) no-repeat 0 0;
  position: absolute;
  top: 149px;
  left: -20px;
  z-index: 100;
  text-indent: -9999px;
}
.b-slider_big .bx-next {
  width: 41px;
  height: 93px;
  background: url(../images/bslider-control_right.png) no-repeat 0 0;
  position: absolute;
  top: 149px;
  right: -20px;
  z-index: 100;
  text-indent: -9999px;
}


.b-menu_left {
  width: 180px;
  float: left;
}
.menu_left_ext {
  font: 12px/20px arial;
  color: #333333;
}
.menu_left_ext .arrow {
  display: block;
  font: bold 14px/16px arial;
  color: #2e7db5;
  background: url(../images/arrow_leftmenu.png) no-repeat 0 4px;
  padding: 0 0 2px 13px;
}
.arrow_nobg {
  background: url(../images/arrow_leftmenu.png) no-repeat 0 4px;
}
.menu_left_in {
  display: none;
  padding-bottom: 14px;
  overflow: hidden;
}
.menu_left_in.act {
  display: block;
}
.menu_left_in LI {
  padding-left: 13px;
}
.menu_left_in A {
  color: #333333;
}




.b-content {
  overflow: hidden;
}

.b-banners_cont__ext {
  margin-top: 27px;
  overflow: hidden;
}
.b-banners_cont {
  oveflow: hidden;
}
.b-banners_cont LI {
  float: left;
  margin-right: 13px;
}
.b-banners_cont IMG {
  dispay: block;
}
.b-banners_cont .last {
  margin-right: 0;
}




.b-brends_cont {
  margin: 45px 0 0 0;
  overflow: hidden;
}
.b-brends_cont UL {
  overflow: hidden;
}
.b-brends_cont LI {
  float: left;
  margin: 0 50px 27px 0;
}
.b-brends_cont .last {
  margin-right: 0;
}





.b-footer {
  height: 177px;
  background: #f0f0f0;
}
.b-social_footer_ext {
  height: 94px;
  overflow: hidden;
  background: url(../images/footer-line.png) no-repeat center bottom;
  position: relative;
}
.b-social_footer {
  overflow: hidden;
  width: 152px;
  position: absolute;
  top: 37px;
  left: 385px;
  z-index: 2;
}
.b-social_footer LI {
  float: left;
  margin-right: 8px;
}
.b-social_footer LI.last {
  margin-right: 0;
}
.b-social_footer LI A {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../images/social-footer.png) no-repeat 0 0;
}

.b-social_footer .b-social_footer__ok {
  background-position: 0 -42px;
}
.b-social_footer .b-social_footer__face {
  background-position: 0 -84px;
}
.b-social_footer .b-social_footer__google {
  background-position: 0 -126px;
}
.b-footer P {
  font: 14px/17px arial;
  color: #666666;
  text-align: center;
  padding-top: 3px;
}




















